<!DOCTYPE html>
<html>
<head>
    <title>IT Forum</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

    
</head>
<body>
  

     <!-- Static navbar -->
  <nav class="navbar navbar-default bar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand text-hide" href="/it_forum">WITS
        </a>
      </div>
      
      <div id="navbar" class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav navbar-right">
       

         <form class="navbar-form"  action="/it_forum" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="search" >

              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" value="Search"><i class="glyphicon glyphicon-search"></i></button>
              </div>
             
            </div>

          </form>
 
      

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

<div class ="secondheader">
      <div class="container">
        <div id="navbar" >
          <ul class="nav navbar-nav navbar-left">
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/it_forum?search=wifi">Wifi</a></li>
            <li><a href="/it_forum?search=Print">Printer</a></li>
            <li><a href="/canvas">Canvas</a></li>
            <li><a href="/it_forum?search=Class">Classroom</a></li>
            
            <li><a href="/it_forum?search=blackboard">Blackboard</a></li>
            <!-- <li role="separator" class="divider"></li> -->
          </ul>
        </li>
          </ul>

          <ul class="enter nav navbar-nav navbar-right">

            <% if (currentUser) { %>
              <li><a href="/login">Welcome <%= currentUser.username  %>!</a></li>
              <li><a href="/logout">Log out</a></li>
            <% } else { %>  
              <li><a href="/login">Sign in</a></li>
              <li><a href="/register">Register</a></li>
            <% } %>
            </ul>
        </div>
      </div>
</div>


<div class ="alert">
  <div class="container">
    <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
     <% } %>
     <% if(success && success.length > 0){ %>
       <div class="alert alert-success" role="alert">
        <%= success %>
       </div>
    <% } %>
  </div>
</div>






















