<% include ../partials/header %>




<div id ="it-new">
    <div class="container">
        <div class="col-md-12">
            <div class="form-area">  
                <form action="/it_forum/<%= student_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                    <h1>Ask a Question</h1>             
                    <div class="form-group">
                        <p></p>
                        <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                                         
                    </div>

                    
                     <div class="submit form-group">

                        <button class="btn btn-sm btn-primary ">Submit</button>
                    </div>

                </form>
                <a href="/it_forum">Go Back</a>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>

