<% include ../partials/header %>



<div id ="it-new">
    <div class="container">
        <div class="col-md-12">
            <div class="form-area">  
                 <form action="/it_forum/<%= student._id %>/comments" method="POST">
                    <h1>Add New Comment</h1>             

                     <div class="form-group">
                        <p> to '<%= student.question %>'</p>
                        <textarea class="form-control" type="textarea" name="comment[text]" placeholder ="" maxlength="500" rows="7"></textarea> 
                                         
                    </div>
                     <div class="submit form-group">
                        <button class="btn btn-sm btn-primary ">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>

