<% include ./partials/header %>

<div class = "container">


<div class="modal-dialog">
    <div class="1">
        <div class="modal-header">
          <h1 class="text-center"><img class="text-center" src="https://qph.fs.quoracdn.net/main-qimg-34325add9d7df18e23d8a0afed48c4e4"></h1>
        </div>
         <div class="modal-body">
         	<form action="/register" method="POST">
         		
         		<div class="row">
				    <div class="col-sm-6  col-md-6 col-lg-6">
				      <input id="email-name" type="text" class="form-control" placeholder="Email">
				    </div>
				    <div class="col-sm-6  col-md-6 col-lg-6">
				     	<div class="form-group">
                 			<input type="text" value="@nebrwesleyan.edu" disabled="disabled"  class="form-control input-md" placeholder="Username"/>
             			</div>
				    </div>
  				</div>



             <div class="form-group">
                 <input type="text" value="" id="email-login" name="username" class="hidden form-control input-md" placeholder="Username"/>
             </div>
             <div class="form-group">
                 <input type="password" name="password" class="form-control input-md" placeholder="Password"/>
             </div>

             <div class="form-group">
                 <input type="submit" class="btn btn-block btn-md btn-danger submit-login" value="SignUp"/>
            </form>
                 <span class="pull-right"><a href="/login">Login</a></span><span><a href="#"></a></span>
             </div>
         </div>
    </div>
 </div>



<% include ./partials/footer %>