<% include ./partials/header %>

<div class = "container">

<h1>Signup</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>SignUp</button>
</form>
<a href="/register">Create an account</a>

</div>

<% include ./partials/footer %>