
/* ---------- NavBar ------------- */
a {
  color: #0F75BC;
}

h1{
  font-weight: 300;
}

.navbar{
  padding-top: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #0F75BC;
}

.navbar-brand {
  padding: 0px;
}

.navbar-default {
    background-color: #FFFFFF;
    height: 100px;
    /*box-shadow: 0px 0px 4px #000000;*/
}

.navbar-left{
  margin-left: 70px;
}

.navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.bar .navbar-brand{ 

  background: url(https://preview.ibb.co/h7sGFo/WITS.png) center / contain no-repeat;

  margin-top: -18px;
  width: 229px;
  height: 110px;
}

.bar .nav {
	padding-top: 16px;
  	padding-bottom: 0px;

}

.navbar-form{
  padding: 0;
}

.navbar-default{
  margin-bottom: 0px;
}

#signin{
  margin-left: 0px;: 
}

.secondheader{

  background-color: #0F75BC;
  height: auto;
  margin-top: -0px;
  //opacity: 0.75;
}

.secondheader a{
  margin: 0;
  color: white;
}

.alert{
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  .navbar-left{
    margin-left: -160px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-left{
    margin-left: -14px;
  }
}

.dropdown-menu{
  background-color: #0F75BC;
}

.dropdown-menu li a{
  color: white;
}



/* ---------- it_forum/NEW ------------- */

#it-new .container{
  float: ;

}


#it-new .container .form-area {

  padding: 10px 40px 60px;
  margin: 10px 0px 0px;

}

#it-new .container .form-area h1 {

  margin-bottom: 30px;

}

.show-none{
  display: none;
}

.Category{
  margin-top: 20px;
  margin-bottom: 50px;
}





/* ---------- it_forum/------------- */

#index .container{
  margin-top: 3%;
  
}


#index .container .results span {
  float: right;
}

#index .container .questions{
  margin-top: 20px;
  display: none;
}

#tabs{
  margin-top: 55px;
 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#tabs span {
    margin-right: 32px;
}

#index .container .questions .problem{
    color: #0F75BC;
    font-size: 20px;
    margin-bottom: 0px;

}

.shortby{
  float: right;
}

.dropdown .btn{
  height: 5px;
  margin-top: -18px;
}

/*Comments delete button*/
form#delete-form{
  display: inline-block;
}

/* ---------- it_forum/ SHOW PAGE------------- */

#show .container{
  margin-top: 4%;
 
  max-width: 900px ;


}



#show .question{
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 300;
  
}


#show .description{
  margin-top: 20px;
}

#show .thumbnail{
  height: auto;
}

.problem-box{
  padding-bottom: 80px;
}

.button{
  display: inline-block;
}

form#delete{
  display: inline-block;
}

#show span{

  display: inline;
  float: left;
  margin-right: 10px;
}

.comment-btn{
  margin-top: 40px;
  margin-bottom: 80px;
}

.comments-answers{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 15px;
}

.comments-live{
   margin-top: 20px;

}

.comment-text{
  margin-top: 10px;
  margin-left: 50px;
  
}

.user{
  font-size: 15px;
}

.well{
  margin-top: -50px;
  margin-bottom: 30px;
}

.well .row p{
  margin-top: 10px;
}

.well .comments{
  padding: 20px;
  
}

/* ---------- LogIn ------------- */

#login{
 
}

#login .container{
  margin-top: 3%;
}

.login-box{
 margin: 0 auto;
}

.login-form{
  margin: 0 auto;
}

.modal-dialog{
  width: 420px;

}

.modal-content{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 


}

.modal-header img{

  width: 200px;
}

/* ---------- Canvas ------------- */

#canvas img{
    float: left;
    height: 50px;
    margin-top: -4px;
    margin-right: 20px;
}


#canvas .options{
 ;
    margin-top: 50px;
}


/* ---------- footer ------------- */


#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#loadMore a {
    background: #0F75BC;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
    background-color: purple;
}

.footer{
  margin-top: 30px;
  min-height: 100%;
  margin-bottom: -100px; /* Equivalent to footer's height */
  padding-bottom: 100px; /* Equivalent to footer's height */

  box-sizing: border-box;
  background-color: #f7f7f7;;
}





