<% include ../partials/header%>
<div id ="it-new">
	<div class="container">
		<div class="col-md-12">
		    <div class="form-area">  
		        <form role="form" action="/it_forum" method="POST">
		            <h1>Ask a Question</h1>				
		            <div class="form-group">
		            	<p>Subject</p>
		                <textarea class="form-control" type="textarea" name="student[question]" placeholder="" maxlength="140" rows="1"></textarea>	                                 
		            </div>

		             <div class="form-group">
		             	<p>Details</p>
		                <textarea class="form-control" type="textarea" name="student[description]" placeholder="" maxlength="500" rows="7"></textarea>
		                                 
		            </div>
				
		            <div class="form-group">
			         
						<select class=" btn btn-default dropdown-toggle" id="myselect">
							  <option value="" disabled selected>Category</option>
							  <option value="1">Wifi</option>
							  <option value="2">Printer</option>
							  <option value="3">Canvas</option>
							  <option value="4">Classrooms</option>
						</select>
					</div>
		            <div class="form-group">
						<input type="text" class="hide form-control" id="dropdown-input" name="student[category]" value="<%= student.category %>"  required>
					</div>


		        	 <div class="submit form-group">
                    	<button class="btn btn-sm btn-primary ">Submit</button>
                	</div>

		        </form>
		    </div>
		</div>
	</div>
</div>



<% include ../partials/footer%>